extends ../layout
block content
  +b.HEADER.header
    +b.logo
      +e.IMG.img
      +e.bigText Експериментаніум
      +e.text Музей популярної науки і техніки
  div sdfsdfsdfsd
    +b.block
      +e.title HelloWorld